/* Media Query tablet < 768px */

@media screen and (max-width:768px) {

    .container {
       max-width: 690px;
    }
    
}


/* Media Query mobile < 576px */

@media screen and (max-width:576px) {
    .container {
        max-width: 510px;
    }
    
    .row {
        flex-direction: column;
        align-items: center;
    }
}